<!DOCTYPE html>
<html lang="en">
  <head>
    <title>URL Shortner</title>
    <meta name="description" content="A URL shortner made for freecodecamp">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>
    <h1  class="center">URL Shortner</h1>

    <p class="bold center">This is a simple node app for creating short URLs</p>
    <div class="center">
      <div class="url">
      <input id="url" type="text" maxlength="200" placeholder="URL">
      <button id="submit-url">Shorten URL</button>
    </div>
    </div>

      <div>
        <p id="short-url-result"></p>
      <ul>
        <li>User Story: I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
        <li>User Story: If I pass an invalid URL that doesn't follow the valid <code>http://www.example.com</code> format, the JSON response will contain an error instead.</li>
        <li>User Story: When I visit that shortened URL, it will redirect me to my original link.</li>
      </ul>
      <h3> An example for you: </h3>
      <p>
        You request as follows: <code>https://bird-work.glitch.me/short/https://www.google.com/</code>
      </p>
      <p>
        You will get a shortened url as follows: <code>https://bird-work.glitch.me/ByRM2APJm</code>
      </p>
    </div>

     <!-- import the webpage's client-side javascript file -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="/client.js" type="text/javascript"></script>
  </body>
</html>
