<!DOCTYPE html>
<html lang="en">
  <head>
    <title>URL Shortner</title>
    <meta name="description" content="A URL shortner made for freecodecamp">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>
      <h1>
        URL Shortner
      </h1>

      <p class="bold">This is a simple node app for creating short URLs</p>

        <input id="url" type="text" maxlength="200" placeholder="URL">
        <button type="submit" id="submit-url">Submit URL</button>

      <div>
        <h3>
          An example for you:
        </h3>
        <p>
          You request as follows: <code>https://bird-work.glitch.me/short/https://www.google.com/</code>
        </p>
        <p>
          You will get a shortened url as follows: <code>Placeholder URL</code>
        </p>
        <p> Or you could just paste the url in that box up there; sit back and relax :-) </p>
      </div>
    <!-- import the webpage's client-side javascript file -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous" type="text/javascript"></script>
    <script src="/client.js" type="text/javascript"></script>

  </body>
</html>
